
.crown {
  padding: 10px 40px;
  bottom: unset;
  border-top: unset;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: crown;
  box-shadow: var(--popup-shadow);
  border-bottom: 0.4px solid var(--primary-color);
}

.crown.hide {
  transform: translateY(-60px);
  transition: transform ease-in-out 0.23s;
  transition-delay: 0.25s;
}

.crown-login {
  display: unset;
}

.crown-login {
  display: none;
  color: var(--white);
}

.branches { 
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.branch.router {
  position: relative;
  margin-right: 10px;
}


.branches .routes {
  width: 100px;
  position: absolute;
  border-radius: 12px;
  height: 80px;
  top: 100%;
  left: -37px;
  background: var(--primary-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  flex-direction: column;
  display: flex;
  padding-top: 4px;
  visibility: hidden;
  font-size: var(--fontsize-sm);
  align-items: center;
  gap: 5px
}

.branch-routes {
  color: var(--soft-grey);
  gap: 20px;
  align-items: center;
  margin-right: 8px;
  display: none;
}

.routes .focus  {
  cursor: pointer;
  pointer-events: inherit;
}

.toggle {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: max-content
}


.toggle:focus + .routes,
.toggle:active + .routes,
.toggle:focus-within .routes,
.toggle + .routes:focus,
.toggle + .routes:active, 
.toggle + .routes:focus-within {
  visibility: unset;
  opacity: 1;
  pointer-events: all;
}

main {
  /* overflow-y: scroll; */
  overflow-x: hidden;
  grid-area: trunk;
  background-color: var(--primary-color);
}

.branches.small {
  justify-content: space-evenly;
  width: 100%;
}

.branches.small a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 13px;
  color: var(--soft-grey);
  padding-bottom: 5px;
}

.branches a.active {
  pointer-events: none;
  color: var(--soft-white);
}

.branch.router {
  display: none;
}

@media screen and (min-width: 600px) {

  .crown {
    border-bottom: 1px var(--grey) solid;
  }

  .branch-routes {
    display: flex;
  }

  .branch.router {
    display: flex;
  }
  
}