@media screen and (min-width: 600px) {


  .emission-factors .row {
    grid-template-columns: 13rem repeat(5, 1fr);
  }

  .emission-factors .bookmark-container {
    position: relative;
    width: 30px;
    height: 30px;

  }

  .emission-factors .bookmark-container * {
    position: absolute;
    inset: 0;
    width: 30px;
  }

  .emission-factors .bookmarks {
    background: var(--matte-black);
    height: 30px;
    color: var(--baby-pink);
    border-radius: 15px;
    cursor: pointer;
    border: none;
    transition: border-radius 0.17s ease;
  }

  .emission-factors .bookmarks:hover {
    border-radius: 5px;
  }

  .emission-factors .bookmark-container span {
    pointer-events: none;
    position: absolute;
    height: fit-content;
    width: fit-content;
    margin: auto;
  }

  .emission-factors {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 370px 1fr;
  }

  .emission-factors .sidebar {
    border-right: var(--table-border);
    border-right-color: var(--fg-grey);
    min-height: 100%;
    padding: 50px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }

  .emission-factors .create {
    width: fit-content;
    align-self: center;
  }

  .emission-factors > .content {
    padding: 50px;
    overflow-y: scroll;
    position: relative;
  }

  .emission-factors .scroll-ref {
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  .emission-factors .pages {
    display: flex;
    width: 200px;
    gap: 50px;
    margin: 20px auto 0px auto;
    justify-content: center;
  }

  .emission-factors .limit {
    margin-top: auto;
    width: min-content;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
  }

  .emission-factors .limit input {
    width: 100%;
    text-align: center;
    background-color: transparent;
    align-self: center;

  }

  .emission-factors .table h2 {
    font-size: 1.3em !important;
  }

  .emission-factors .fetcher {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 33px;
    align-items: center;
    width: 100%;
  }

  .emission-factors input::placeholder {
    font-size: var(--fontsize-sm);
  }

  .emission-factors .field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.82em;
    width: 100%;
    max-width: 200px;

  }

  .emission-factors .field label {
    color: var(--soft-white);
  }

  .emission-factors .description .title {
    align-self: flex-end;
  }


  .emission-factors .sidebar.sticky-background {
    background-color: var(--matte-black);
  } 

  .emission-factors div.extra-options { 
    justify-content: flex-start;
    gap: 12px;
  }

  .emission-factors .extra-options input {
    background-color: transparent;
    border: none;
    border-bottom: var(--table-border);
    color: var(--soft-white);
    padding: 4px;

  }

  .emission-factors .extra-options input[type="button"] {
    background-color: var(--soft-white);
    width: 120px;
    color: var(--black);
  }

  .emission-factors .back {
    width: fit-content;
  }

  .emission-factors .bookmarks {
    background-color: transparent;
  }

  .table.factors .dropdown {
    grid-template-columns: 1fr;
    grid-template-rows: 35% 1fr;
  }

  .factors .dropdown > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
  }

  .factors .dropdown .infos {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .factors .dropdown {
    transition-duration: 55ms;
  }

}