/* @media screen and (min-width: 600px) {

  .product-editor {
    overflow: hidden;
  }
  
  .edit {
    height: 100%;
  }
  
  .product-editor .editor-content {
    overflow: hidden;
  }

  .product-editor .product-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
  }

  .sidebar .scroll-indicator {
    position: relative;
  }

  .sidebar .name {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .sidebar .mouse {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: fit-content;
    position: absolute;
    bottom: -5px;
    right: 50%;
    border: solid 1px var(--soft-white);
    border-radius: 13px;
    width: 23px;
    overflow: hidden;
  }

  .sidebar .mouse span {
    font-size: inherit;
    animation: fromAbove ease-out 10s infinite;
  }
  @keyframes fromAbove {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    10% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .sidebar-bottom .delete {
    text-align: end;
  }

  .product-editor .heading {
    display: grid;
    gap: 22px;
    justify-content: space-between;
    font-size: var(--fontsize-med);
    align-items: center;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
  }

  .product-editor .heading span {
    overflow: hidden;
    text-wrap: nowrap;
    max-width: 250px;
    text-overflow: ellipsis;
  }

  .processes .heading > div {
    align-self: flex-end;
  }

  .product-creator .field {
    opacity: 0;

    animation: fadeIn 0.44s ease forwards;
  }

  .product-editor .pie-chart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    padding-top: 45px;
  }

  .product-editor .heading .rating {
    font-size: 1.2em;
  }

  .product-editor .sidebar-grid {
    grid-template-columns: minmax(30vw, 400px) 1fr;
  }

  .product-editor .sidebar {
    padding: 20px;
    padding-top: 35px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr minmax(90%, 1fr) 1fr;
    height: 100%;
    overflow-y: scroll; 
  }

  .product-editor .emission-factors .create {
    display: none;
  }

  .product-editor .emission-factors .limit input {
    background-color: transparent;
  }

  .product-editor .sidebar .save {
    position: sticky;
    bottom: -1px;
    width: 130px;
    height: 35px;
    position: sticky;
    bottom: -1px;
    margin: 0 auto;
  }

  .product-editor .input-field input {
    color: var(--soft-white);
    background: var(--black);
    border: none;
    border-bottom: var(--table-border);
    padding: 0 0 5px 3px;
  }

  .processes input:placeholder-shown {
    border-bottom: var(--table-border);
    font-size: var(--fontsize-xs);

  }

  .processes .id-hover {
    position: relative;
    height: fit-content;
    width: fit-content;
    right: 0;
    top: 0;
  }

  .processes .id-hover:hover span {
    opacity: 1;
    visibility: visible;
  }
  .processes .id-hover .id-after {
    opacity: 0;
    transition: opacity 0.27s ease;
    visibility: hidden;
    position: absolute;
    text-wrap: nowrap;
    top: -35px;
    right: 0;
    background: var(--soft-grey);
    padding: 4px 10px;
    border-radius: 5px;
  }


  .processes input[name="value"]::placeholder {
    text-align: start;
    margin-right: 7px;
  }

  .product-stages .item {
    transition: transform 0.17s ease, border-radius 0.17s ease;
  }

  .product-stages .stage {
    width: 100%;
    height: 100%;
  }

  .product-stages .stage {
    min-height: 160px;
    display: grid;
    grid-template-rows: 100%;
    transition: grid-template-rows 0.17s ease,
                max-height 0.2s ease,
                transform 0.17s ease, 
                border-radius 0.17s ease;;
  }

  .product-stages {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  }

  .product-stages .infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-stages .info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 10px;
    gap: 8px;
  }

  .product-editor .popup.container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
  }

  .product-editor  .warning {
    text-align: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 350px;
    width: 460px;
    flex-direction: column;
    pointer-events: all;
    padding: 35px 17px;
    background-color: var(--matte-black);
    border-radius: 15px;
    justify-content: space-between;
    right: 0;
    margin: auto;
  }

  .product-editor .warning .top {
    display: flex;
    gap: 5px;
    height: fit-content;
    justify-content: center;
    align-items: center;
  }

  .product-editor .popup-button {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .product-editor .delete-product {
    width: fit-content;
    align-self: center;
  }

  .product-editor .settings-popup {
    height: 50vh;
    position: absolute;
    text-align: center;
    background: var(--matte-black);
    width: 500px;
    pointer-events: all;
    z-index: 5;
    left: 10%;
    top: 180px;
    padding: 30px;
    right: 0;
    margin: auto;
  }

  .product-editor .editor-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-editor .settings-popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    gap: 30px;
    height: 100%;
  }

  .settings-popup #description,
  .settings-popup .input-field input {
    background-color: inherit;
    color: var(--soft-white);
  }

  .settings-popup .input-field {
    width: 90%;
  }

  .settings-popup form label {
    align-self: flex-start;
  }

  .settings-popup .submit {
    flex: 2.3;
    justify-content: flex-end;
    align-self: flex-end;
    display: flex;
  }

  .settings-popup button {
    align-self: flex-end;
  }


  .product-stages .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fontsize-med);
  }

  .product-stages .add.validate input {
    border-color: var(--eco-danger);
  }

  .product-stages .add .unique-warn ~ .warn {
    opacity: 1;
    visibility: visible;
  }

  .product-stages input.unique-warn {
    border-color: var(--eco-danger);
  }

  .product-stages .add .warn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 20px;
    text-wrap: nowrap;
    font-size: var(--fontsize-xs);
    color: rgb(231 95 95);
  }

  .processes .heading {
    font-size: var(--default-fontsize);
    gap: 10px;
  }


  .proceses .infos {
    flex-direction: row;
    justify-content: space-between;
  }

  .stage-info {
    display: grid;
    grid-template-rows: .4fr 1fr;
  }

  .stage .flip {
    transition: transform ease 0.17s;
    align-self: flex-end;
  }

  .product-stages .item {
    border: none;
    background-color: var(--black);
  }

  .stage.expand {
    max-height: unset;
  }

  .stage.expand .flip {
    transform: rotateX(180deg);
  }

  .product-stages .processes {
    height: 0;
    opacity: 0;
    display: none;
    justify-items: center;
    transition: grid-template-rows 0.2s ease,
                height 0.3s ease-in-out;
    gap: 12px;
    max-width: 330px;
  }


  .processes .infos {
    flex-direction: column;
  }
  .processes .info {
    flex-direction: unset;
    align-self: unset;
    justify-content: space-between;
    width: 100%;
  }

  .stage.expand + .processes {
    display: grid;
    grid-template-rows: 30px repeat(auto-fit, minmax(120px, 1fr));
    height: 100%;
    opacity: 1;
  }

  .processes input {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    background-color: transparent;
    border: none;
    color: var(--soft-white);
    font-size: var(--default-fontsize);
  }

  .processes input[name="activity"] {
    max-width: 125px;
  }

  .processes input[name="activity_value"] {
    max-width: 45px;
    text-align: end;
    padding-right: 5px;
  }

  .processes input[name="activity_unit"] {
    max-width: 50px;
  }

  .processes .activity-metrics {
    display: flex;
    justify-content: center;
    gap: 7px;
  }

  .processes .save {
    color: var(--black);
    background-color: var(--soft-white);
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: all;
    transition: border-radius 0.17s ease, opacity 0.1s ease;
  }

  .processes .item {
    height: 100%;
    padding-left: 15px;
  }

  .processes .save:hover {
    border-radius: 3px;
  }

  .stage + .processes .add {
    justify-self: flex-end;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    height: 25px;
    width: fit-content;
    cursor: pointer;
  }

  .processes .item .bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: end;
    text-wrap: nowrap;
  }

  .processes .item .action-btns {
    width: 100%;
  }

  .processes .add span {
    font-size: 30px;
  }

  .product-editor .actions,
  .product-editor .stages {
    width: 100%;
  }

  .product-editor .actions {
    overflow-y: scroll;
    margin: 40px 0px 20px 0px;
  }


  .product-editor .view-factors {
    width: 70%;
    height: 35px;
    margin: 0 auto;
  }

  .view-factors:disabled {
    cursor: unset;
    opacity: unset;
  }

  .product-editor .settings {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .product-editor .emission-factors .sidebar {
    min-height: unset;
    display: flex;
  }

  .product-editor .emission-factors .content {
    padding-top: 25px;
  }
} */