.profile-picture .default {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--eco-neutral);
}

.profile-picture .default span {
  width: fit-content;
  user-select: none;
}