@media screen and (min-width: 600px) {

  .data .upload {
    height: 100%;
    width: 100%;
    background: var(--primary-color);
  }

  .upload .top {
    display: flex;
    margin-left: 30px;
    align-items: center;
    margin-top: 27px;
  }

  .upload .uploader {
    width: 60vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 40vw;
    height: 100%;
  }

  .uploader .container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 60vh;
  }

  .uploader .import-file {
    text-align: center;
    pointer-events: none;
    cursor: pointer;
  }

  .uploader div:first-of-type {
    animation: unset
  }

  .uploader #import-file {
    z-index: 1;
    pointer-events: all;
    width: 100%;
    min-height: inherit;
    pointer-events: all;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .uploader button {
    z-index: 1;
    position: absolute;
    left: 45px;
    width: 112px;
  }


  .cube-wrapper {
    perspective: 80px;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 0;
    height: 0;
    perspective-origin: 0 0;
  }

  .cube-2 {
    transform: translateZ(-100px) scale(1.8);
    transform-style: preserve-3d;
  }

  .cube {
    top: -100px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin infinite 10s linear !important;
  }

  @keyframes spin {
    0% {
      transform: rotate3d(0, 0, 0, 360deg);
    } 
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }

  .face {
    position: absolute;
    background-size: 662.4px 200px;
    width: 84px;
    height: 200px;
  }

  .face#f1 {
    transform: translateX(-41.4px) translateZ(100px);
    background-position: 0 0;
  }

  .face#f2 {
    transform: translatex(29.2px) translateZ(70.8px) rotateY(45deg);
    background-position: -82.8px 0;
  }

  .face#f3 {
    transform: translatex(58.5px) rotateY(90deg);
    background-position: -165.6px 0;
  }

  .face#f4 {
    transform: translatex(29px) translateZ(-70.8px) rotateY(135deg);
    background-position: -248.4px 0;
  }

  .face#f5 {
    transform: translateX(-41.4px) translateZ(-100px) rotateY(180deg);
    background-position: -331.2px 0;
  }

  .face#f6 {
    transform: translateX(-111.4px) translateZ(-70.8px) rotateY(225deg);
    background-position: -414px 0;
  }

  .face#f7 {
    transform: translateX(-141.4px) rotateY(270deg);
    background-position: -496.8px 0;
  }

  .face#f8 {
    transform: translateX(-111.4px) translateZ(70px) rotateY(315deg);
    background-position: -579.6px 0;
  }

  .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .clip-circle {
    position: absolute;
    padding: 0;
    width: 200px;
    height: 200px;
    clip-path: circle(99px at center);
    border-radius: 50%;
  }

  .lighting::after {
    content: "";
    left: 67px;
    top: 50px;
    position: absolute;
  }

  .reflection::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-image: url("https://i.stack.imgur.com/ayCw7.png");
    background-size: 200px 200px;
  }

  #dear-earth {
    position: absolute;
    top: 0;
    left: 0;
  }

  .face {
    background-image: url("https://i.stack.imgur.com/fdtNz.jpg");
  }

  #dear-earth .clip-circle {
    transform: rotateX(7deg) rotateZ(15deg); 
  }

  #dear-earth .lighting {
    box-shadow: 20px -30px 55px 0 rgba(255, 255, 255, 0.2) inset, 
                -75px -100px 150px 0 rgba(255, 255, 255, 0.2) inset, 
                -1px -2px 10px 2px rgba(200, 190, 255, 0.2);
  }

  #dear-earth .lighting::after {
    box-shadow: 0 0 150px 51px rgba(255, 255, 255, 0.2) inset, 
                0 0 26px 10px rgba(255, 255, 255, 0.2) inset;
  }

  .upload .content {
    display: flex;
  }


  .upload .content .required-columns {
    padding-left: 10vw;
    justify-content: center;
    height: 70%;
  }

  .upload .required-columns p {
    background-color: var(--eco-danger);
    padding: 10px;
  }


}