
.header {
  font-weight: var(--bold-1);
}

.header p {
  margin: 0px;
}

.header:has( + .table-border ) {
  margin-top: 20px;
  margin-bottom: 13px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: var(--fontsize-xl);
  font-weight: var(--bold-1);
}