@media screen and (min-width: 600px) {
  .product-card, .pledge-card {
    padding: 45px;
  }

  .product-card .info-widget .info-digit,
  .pledge-card .info-widget .info-digit {
    font-size: var(--fontsize-xlarge);
  }

  .product-card .widget.product-stars {
    justify-content: unset;
  }

  .product-card {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 80%;
    padding: 60px;
  }
  .product-card .publish-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 30%);
    pointer-events: all;
  }

  .product-card .unpublish-popup {
    position: absolute;
    height: 40vh;
    background: var(--deep-navy);
    padding: 25px 15px;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 15px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    max-width: 575px;
  }

  .product-card .unpublish-first {
    position: absolute;
    top: 39%;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    bottom: 0;
    width: fit-content;
    color: rgb(207 61 82);
    opacity: 0;
    animation: unpublishFirst 4s ease;
  }

  .unpublish-popup .top {
    display: flex;
    align-items: center;
    gap: 5px;
    height: fit-content;
    justify-content: center;
  }

  .unpublish-popup .yes {
    width: fit-content;
    align-self: center;
    margin-bottom: 20px;
  }

  .publish-form #description,
  .settings-popup #description {
    padding-top: 30px;
    max-height: 103px;
    padding: 10px;
    color: var(--soft-white);
    background-color: transparent;
    border: var(--table-border);
    min-height: 40px;
    max-width: 100%;
    min-width: 80%;
    outline: none;
  }

  #description + .after {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.27s ease, visibility 0.1s;
    position: absolute;
    text-wrap: nowrap;
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    left: -10px;
    right: 0;
    bottom: -40px;
    padding: 0 5px;
    margin: 0 auto;
    background-color: var(--soft-grey);
  }

  #description.invalid + .after {
    opacity: 1;
    visibility: visible;
  }

  .publish-form textarea,
  .publish-form .input-field {
    width: 100%;
    color: var(--soft-white);
    max-width: unset;
    width: 80%;
    flex-direction: column;
  }

  .publish-form.invalid .datalist {
    margin-top: 30px;
  }

  .publish-form .datalist {
    max-width: 60%;
    width: min-content;
  }

  .publish-form form,
  .pledge-card .edit-popup {
    display: flex;
    flex-direction: column;
    padding-left: 79px;
    padding-right: 40px;
    gap: 30px;
    height: 100%;
  }
  
  .publish-form form {
    align-items: center;
    padding: 10px 40px;
  }

  .publish-form .submit {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 37px;
  }

  .product-card .info > div {
    display: flex;
  }


  .product-card .body {
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    justify-self: center;
    padding: 0 40px;
    width: 90%;
  }

  .product-card .description {
    width: 75%;
    margin: 0 auto;
  }

  .product-card .summary {
    justify-content: space-between;
    width: 80%;
    align-self: center;
  }

  .product-card .body {
    display: flex;
  }

    
  .product-card .info-digit {
    font-size: var(--fontsize-xlarge);
  }
  
  .product-card .info-metric {
    padding-bottom: 5px;
  }

  .product-card .charts {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-wrap: wrap;
  }


  @keyframes unpublishFirst {
    0% {
      top: 39%;
      opacity: 0;
    } 
    10%, 80% {
      top: 35%;
      opacity: 1;
    }
    100% {
      top: 35%;
      opacity: 0;
    }
  }

  .publish-form {
    max-width: 570px;
    pointer-events: all;
    width: 60vw;
    left: calc(50vw - 290px);
    background-color: var(--secondary-color);
    position: absolute;
    right: 0;
    bottom: 200px;
    top: 16%;
    padding-top: 33px;
  }

}

@media screen and (min-width: 900px) {
  .product-card {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .product-card .info-digit {
    font-size: var(--fontsize-xlarge);
  }
}