@media screen and (min-width: 600px) {
  .products .top-flex {
    min-width: 100px;
    justify-content: space-evenly;
  }

  .products.table .row {
    grid-template-columns: 13rem repeat(5, 1fr);
  }

  .table.products .row {
    grid-template-columns: 13rem repeat(3, 1fr) .7fr .7fr;
  }

  .products .row span:nth-child(4) {
    text-align: unset;
  }

  .dashboard.products {
    width: 100%;
    justify-self: center;
  }

  .products .description {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
  }

  .products .rating {
    font-size: 1.2em;
    margin-left: 10px;
  }

  .product .reflection {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    opacity: 0;
    height: 100%;
    pointer-events: none;
    background-color: #e4d5f312;
    width: 0%;
  }

  div.product:hover {
    border-radius: 5px;
    color: var(--soft-white);
    cursor: pointer;
    transform: scale(1.02);
  }

  .product .label {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .product.row {
    align-items: flex-end;
    border-bottom: var(--grid-border);
  }

  .product.row.header {
    position: sticky;
    top: 0;
    background-color: var(--black);
  }
  
  .product.cell {
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-right: var(--grid-border);
    padding: 5px
  }
  
  .product.cell:last-child {
    border-right: none;
  }

  .product.row:last-child {
    border-bottom: none;
  }

  .product.cell.align-end {
    justify-self: flex-end;
    padding-right: 7px;
  }


  .product .info-columns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    text-align: end;
  }

  .product .info-rows {
    display: flex;
    gap: 8px;
    align-self: flex-end;
  }
  
}