.crown a[href="/"] {
  display: flex;
  align-items: center;
  gap: 7px;
}

.activity-required {
  display: none;
  color: rgb(231 113 113);
  margin-left: 5px;
}

/* *:focus-visible {
  outline: var(--forest-green) solid 2px;
} */

.showcase .item:hover,
.showcase .item:focus-visible,
.showcase .item.shown {
  transform: scale(1.01);
  border-radius: 0px;
}

@media screen and (min-width: 600px) {

  .todo-list .file-notice {
    padding: 9px;
    background-color: #e57227;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .widgets-grid .slide-up,
  .pledge-info:first-of-type {
    display: none;
  }

  .widgets-grid .pledge-info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .widgets-grid .pledge-extras,
  .widgets-grid .pledge-info {
    gap: 17px
  }

  .widget {
    background-color: var(--black);
  }

  .widget.slide-in-left {
    transform: translateX(-300%);
    animation: slideInXAxis ease-out 0.35s forwards;
  }

  .widget.slide-in-right {
    transform: translateX(380%);
    animation: slideInXAxis ease-out 0.35s forwards;
  }

  .widget.slide-up {
    transform: translateY(220%);
    animation: slideInYAxis ease-in-out 0.35s forwards;
  }

  .widgets-grid .info-widget {
    height: 90px;
  }

  .cell.indicator-1 {
    color: var(--positive-green);
  }

  .cell.indicator-0 {
    color: var(--danger-red);
  }

  .pledges-view {
    display: grid;
    justify-content: center;
    grid-template-areas: "slider display"
                          "extras extras";
    grid-template-columns: .35fr .65fr;
    max-height: 75%;
  }

  .input-field label {
    font-size: .8em;
    font-weight: lighter;
    line-height: 2;
  }
  
  .input-field input,
  .input-field select {
    background: transparent;
    text-overflow: ellipsis;
    outline: none;
    border: transparent;
    border-bottom: 0.3px solid var(--soft-grey);
    padding: 5px;
    padding-left: 2px;
    color: var(--white);
  }

  .widgets-grid {
    display: grid;
    /* grid-template-columns: repeat(3, minmax(220px, 360px)); */
    /* justify-items: center; */
    row-gap: 3em;
    /* justify-content: center; */
    column-gap: 2.5em;
    width: 100%;
    max-width: 1200px;
  }


  .widget-row {
    gap: 1.5em;
    display: flex;
    justify-content: space-between;
  }

  .widget {
    padding: 20px;
    /* flex-direction: column; */
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    gap: 7px;
    color: var(--soft-white);
    background-color: var(--black);
  }

  .widgets-grid .info-widget {
    width: 220px;
  }

  .widget.short {
    max-height: 360px;
  }

  .widget.long {
    width: 370px;
  }

  .info-widget .info-title,
  .info-widget .info-metric {
    font-size: 0.87em;
    /* align-self: flex-end; */
  }

  .info-widget .info-digit {
    color: var(--white);
    font-size: var(--fontsize-med);
  }

  .info-widget > div {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    justify-content: flex-end;
  }

  .widget-spacing {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    justify-content: center;
  }

  .data .search {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    height: min-content;
    padding-left: 30px;
  }

  .data .search-wrapper {
    position: relative;
  }

  .data .search input {
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    background: var(--soft-white);
    border: none;
    color: var(--black);
    position: relative;
  }

  .search-wrapper span {
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--black);
  }

  .buttons .filter,
  .actions .filter {
    display: flex;
    width: max-content;
    position: relative;
    flex-direction: row-reverse;
    min-width: 110px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: var(--fontsize-sm);
  }

  .filter span {
    font-size: inherit;
  }

  .filters-after {
    position: absolute;
    transition: opacity 0.2s ease;
    background: white;
    height: 100px;
    width: 300px;
    top: 100%;
    border-radius: 10px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .filter:focus .filters-after,
  .filter.focus-within .filers-after,
  .filter:active .filters-after,
  .filter .filters-after:active {
    visibility: visible;
    pointer-events: unset;
    opacity: 1;
  }

  .filters.buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }

  /* .data .sidebar {
    border-right: 0.3px solid var(--secondary-color);
  } */

  .sidebar .sections {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    height: 550px;
    justify-content: center;

  }
  .sections .section {
    display: flex;
    gap: 10px;
    cursor: default;
  }

  .data .spacing {
    padding: 0px 20px 0px 40px;
  }

  .table header.downloadable {
    display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .table header.downloadable span {
    font-size: 26px;

  }

  .table .row {
    display: grid;
    grid-template-columns: 13rem repeat(4, 1fr);
    border-bottom: var(--table-border);
    padding: 20px;
    color: var(--soft-grey);
    transition: color 0.3s ease;
    user-select: none;
    animation: blinkWhite 1.5s ease 0.1s;
  }

  .table .headers {
    border-bottom: var(--table-border);
  }

  .row.thin {
    padding: 13px;
  }

  .row .open {
    margin-right: 15px;
  }

  .table.data .open {
    display: none;
  }

  .table .row:hover {
    color: var(--soft-white);
  }

  .table .row span {
    align-self: center;
  }

  .data .table {
    padding: 80px;
    padding-top: 40px;
  }

  .row.headers {
    padding: 20px;
    padding-bottom: 10px;
    color: var(--soft-white);
    animation: none;
  }

  .data .content:has( .top-flex) {
    display: grid;
    grid-template-rows: 100px 1fr
  }

  .top-flex .action-btn {
    display: flex;
    font-size: var(--fontsize-sm);
    align-items: center;
    width: 140px;
    justify-content: center;
    gap: 10px;
  }

  .top-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 35px;
    margin-right: 80px;
    margin-left: 30px;
  }

  .filters-after {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .filters-after .select-filter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .savior-data {
    max-width: calc(100% - 140px);
  }

  .content.savior-data {
    position: relative;
  }

  .savior-data .pagination {
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 60px;
    text-align: end;

  }

  /* .data .sidebar {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 200px);
    align-items: center;
    justify-content: space-between;
    height: 100%;
  } */

  .data .insert-file {
    position: relative;
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 8px;
  }

  .data .spacing {
    position: relative;
  }

  main:has( .savior-data) {
    overflow: hidden;
  }

  /* main:has( .table) {
    overflow: scroll;
  } */

  /* .sidebar {
    position: sticky;
    top: 0;
    height: 500px;
  } */

  .chart-wrapper {
    height: 100%;
    width: 100%;
  }

  .data-plots {
    display: grid;
    height: 100%;
    padding-top: 30px;
    grid-template-rows: repeat(auto-fit, minmax(350px, calc(100% / 3)));
  }

  .data-plots .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    padding: 0 30px;
    width: 100%;
    height: 100%;
    gap: 50px;
  }

  .data-plots .bottom.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    justify-self: flex-end;
    margin-top: 30px;
    width: 100%;
    height: fit-content;
  }


  .top-flex .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    padding-left: 40px;
  }

  .top-flex .left,
  .top-flex .right {
    display: flex;
    gap: 20px;
  }

  .top-flex a.default-btn {
    transition: color 0.17s ease-out;
    text-align: center;
    display: flex;
    width: fit-content;
    text-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: transparent;
    color: var(--grey);
  }

  a.default-btn:hover,
  a.default-btn.active {
    border-radius: 5px;
    color: var(--soft-white);
  }

  a.default-btn span {
    color: inherit;
  }

  
  .product-card .info,
  .pledge-card .info {
    padding-top: 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
  }

  .product-card .widget,
  .pledge-card .widget {
    box-shadow: rgba(0, 0, 0, 0.1) 7px 10px 10px 10px,
                rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: grid;
    justify-content: space-between;
    text-wrap: nowrap;
    justify-content: flex-end;
    grid-template-rows: min-content 1fr;
    padding: 25px;
  }

  .product-card .widget .widget-info,
  .pledge-card .widget .widget-info {
    padding-bottom: 8px;
    gap: 5px;
    justify-content: flex-end;
  }

  
  .product-card .widget .info-metric,
  .pledge-card .widget .info-metric {
    font-size: 1.1em;
  }

  .rating-bar {
    max-width: 600px;
    height: 40px;
    background-color: var(--deep-navy);
    display: flex;
    padding-left: 20px;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 12px;
    position: relative;
  }

  .progress-bg {
    background-color: var(--fg-grey);
    height: 50%;
    width: 80%;
    border-radius: 20px
  }

  /* .grade {
    position: absolute;
    right: 10px; 
  } */

  .progress-bg .progress {
    width: 30%;
    height: 100%;
    background-color: var(--lavender);
  }

  .mock-pie {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--lavender);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .row:hover .indication {
    color: var(--white);
  }

  
  .row-wrapper .row {
    padding: 20px;
    pointer-events: none;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    transition: border 19ms linear, color 0.2s ease-in;
  }


  .row-wrapper {
    pointer-events: all;
    cursor: pointer;
    user-select: none;
    transition: grid-template-rows 0.1s linear,
                color 0.17s ease;
    display: grid;
    grid-template-rows: 1fr 0px;
    border-bottom: var(--table-border);
  }

  .row-wrapper .row {
    border-bottom: unset;
  }

  .row-wrapper.expand + .row-wrapper {
    border-top: var(--table-border);
  }

  .row-wrapper:hover .row {
    color: var(--white)
  }

  .row-wrapper.expand {
    grid-template-rows: 1fr 400px;
    /* border-bottom: none; */
  }

  .row-wrapper .flip {
    transition: transform 0.21s ease-out;
  }
  .row-wrapper.expand .flip {
    transform: rotateX(180deg);
  }

  .row-wrapper .dropdown {
    visibility: hidden;
    pointer-events: none;
    display: grid;
    grid-template-columns: .45fr 1fr;
    
    padding: 30px;
    padding-left: 45px;
    opacity: 0;
    transition: opacity 0.17s ease 0.1s
  }

  .row-wrapper .insights {
    display: grid;
    grid-template-rows: repeat(auto-fit, 30px);
    align-self: flex-end;
    padding-bottom: 40px;
    text-wrap: nowrap;
  }

  .row-wrapper .info {
    display: flex;
    gap: 13px;
  }

  .row-wrapper.expand .dropdown {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    cursor: default;
  }

  .row-wrapper.expand .row {
    border-bottom-width: 0px;
  }

  .indication.great,
  .indication.done,
  .rating.A {
    color: var(--eco-great) !important;
  }

  .indication.normal,
  .rating.B {
    color: var(--eco-neutral) !important;
  }

  .rating.C {
    color: var(--eco-ok);
  }

  .rating.D,
  .rating.F {
    color: var(--eco-danger)
  }

  .indication.good,
  .indication.complete {
    color: var(--eco-good) !important;
  }

  .indication.progress {
    color: var(--eco-neutral) !important;
  }

  .pledge-row .visualize {
    display: flex;
    justify-content: center;
  }

  .row .indication,
  .indication.banner,
  .banner {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px currentColor;
  }

  .row .indication {
    width: 50px;
  }

  .pledge-row .insights {
    flex-direction: column;
    gap: 15px;
    display: flex;
    
  }

  .pledge-row .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
  }


  .chart.border-right {
    /* border-right: solid var(--soft-grey) 0.7px; */
    padding-right: 80px;
  }
  
  .savior-rating .medal {
    width: 180px;
    height: 180px;
    position: absolute;
    border: solid 4px;
    border-radius: 50%;
    top: 0;
    transform: translateY(35%);
  }

  .savior-rating .rating {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: fit-content;
    width: fit-content;
    font-size: 2.3em;
  }

  .table .pages button,
  table .pages button span {
    cursor: pointer;
    color: var(--soft-white);
  }

  .table .pages button:disabled span,
  .table .pages button:disabled {
    color: var(--clear-grey) !important;
    cursor: default;
    color: rgb(90 90 90 / 50%) !important;
    cursor: default;
  }

  .table .pages {
    display: flex;
    gap: 50px;
    margin: 20px auto 0px auto;
    justify-content: center;
    width: fit-content;
    align-items: center;
  }

  .table.tasks,
  .pledges .table,
  .products .table {
    border: var(--table-border);
    border-radius: 10px;
  }

  .table.tasks .cells .row:nth-last-child(1),
  .pledges .table .cells .row:nth-last-child(1),
  .products .table .cells .row:nth-last-child(1) {
    border-bottom: none;
  }

  .status {
    border-radius: 13px;
    height: max-content;
    font-size: var(--fontsize-xs);
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 5px;
    color: var(--soft-white);
    align-items: center;
    width: fit-content;
    cursor: pointer;
    align-self: center;
  }
  
  .table .row span {
    word-break: break-word;
    max-height: 130px;
    overflow: hidden;
    max-width: 90%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  .line-clamp:hover {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    text-wrap: wrap;
  }

  .line-clamp + .align-end {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @supports (-webkit-line-clamp: 3) {

  .line-clamp:hover {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      text-wrap: wrap;
    }
  }

  .helper-link {
    position: relative;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
  }

  .helper-link:hover::after {
    position: absolute;
    bottom: -40px;
    left: -40px;
    height: fit-content;
    content: "click to learn more";
    padding: 6px 9px;
    z-index: 1;
    width: fit-content;
    background: var(--black);
    opacity: 1;
    right: 0;

  }

  .helper-link::after {
    content: "";
    opacity: 0;
    font-family: monospace;
    font-size: 0.57em;
    position: absolute;
    left: -120px;
    bottom: -35px;
    border-radius: 10px;
    transition: opacity 0.3s ease;
  }

  .data.tab .content {
    padding: 60px
  }

  .search-input {
    position: relative;
  }

  .search-input .material-symbols-rounded {
    position: absolute;
    inset: 0;
    left: calc(90% - 10px);
    top: 3px;
    color: var(--black);
    pointer-events: all;
  }

  .products .content,
  .pledges .pledge-content,
  .supplier-content {
    max-width: 85vw;
    width: 100%;
    margin: 0 auto;
  }

  .products.table,
  .pledges.table,
  .suppliers.table {
    width: 100%;
  }

  .upload .top {
    display: flex;
    margin-left: 30px;
    align-items: center;
    margin-top: 27px;
  }

  .sidebar-bottom .delete {
    text-align: end;
  }

  .sidebar .scroll-indicator {
    position: relative;
  }

  .sidebar .mouse {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: fit-content;
    position: absolute;
    bottom: -5px;
    right: 50%;
    border: solid 1px var(--soft-white);
    border-radius: 13px;
    width: 23px;
    overflow: hidden;
  }

  .sidebar .mouse span {
    font-size: inherit;
    animation: fromAbove ease-out 10s infinite;
  }

  @keyframes fromAbove {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    10% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes hide {
    0%, 50% {
      opacity: 0;
    }
  }
  
  .showcase-widget .info-columns,
  .showcase-widget .title {
    display: flex;
    justify-content: space-between;
  }

  .showcase-widget .title .options,
  .showcase-widget:hover .rating,
  .showcase-widget:hover .rating {
    display: none;
  }

  .showcase-widget:hover .title .options,
  .showcase-widget:hover .options {
    display: unset;
  }

  .widget-showcase {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    gap: 2.5em 2em;
    padding-top: 45px;
    padding-bottom: 55px;
    width: 100%;
  }

  div.showcase-widget {
    background: var(--matte-black);
    color: var(--soft-white);
    cursor: pointer;
    height: 180px;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    font-size: var(--fontsize-med);
    transition: border-radius .2s ease, 
                scale 0.17s ease,
                transform 0.2s ease;
    position: relative;
  }

  .showcase-widget:hover,
  .showcase-widget:focus-visible {
    transform: scale(1.02);
    border-radius: 0px;
  }

  .top-flex:has( .create) {
    margin-right: 0;
    gap: 7px;
  }
  .top-flex .create {
    background-color: var(--soft-white);
    width: 60px;
    height: 20px;
    justify-self: flex-end;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .insert-image .label {
    position: static;
    margin: auto;
  }

  .progress .step {
    height: 4px;
    width: calc(100% / 3);
    border-radius: 5px;
    background-color: var(--soft-grey);
  }

  .progress .step.filled {
    background-color: var(--calm-blue);
  }

}

@media screen and (min-width: 700px) {

  div.plots {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 100%;
    padding-top: 30px;
  }

  .plots.visualization {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    text-align: start;
  }

  .plots.visualization > div {
    height: 100%;
  }

  #sidebar-drag {
    height: 100%;
    width: 0.2ch;
    background: var(--fg-grey);
    position: absolute;
    right: -1px;
  }

  .plots.sidebar {
    text-align: center;
  }

  .plots .choice.radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
  }

  .choice .field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .widget-spacing.todo-list {
    justify-self: unset;
  }
}

@media screen and (min-width: 900px) {

  .row .indication {
    width: 60px;
  }

  .widgets-grid .widget {
    display: flex;
  }

  .widget-row {
    gap: 3em;
  }


  /* .dashboard-container {
    max-width: 1250px
  } */

  .widget-row {
    justify-content: space-evenly;
  }

  /* .overview .widgets-grid .widget {
    max-width: calc((100vw - 120px )/ 3);
  }   */


/* .dashboard-container:has( .static) .info-digit,
.dashboard-container:has( .static) .info-title,
.dashboard-container:has( .static) .info-metric {
  animation-delay: 0s;
  animation-timing-function: ease-out;
} */


  .info-widget.end {
    justify-self: flex-end;
  }

  .products .content,
  .pledges .pledge-content,
  .supplier-content {
    max-width: 1200px;
  }

}


@media screen and (min-width: 1000px) {
  .info-widget .info-digit {
    font-size: var(--fontsize-large);
  }

}

@media screen and (min-height: 700px) {

  .branches .routes.small {
    margin-bottom: 0;
    padding-top: 13px;
  }
  
  .widget.long#long2 {
    display: none;
  }
  
  #tuple2 .widget {
    transform: translateY(200%);
    animation: slideInYAxis 0.3s ease-in-out forwards;
  }

  #long1 {
    animation: slideInYAxis 0.28s ease-in-out forwards;
    transform: translateX(200%)
  }

}


@media screen and (min-width: 1100px) {
  .activity-required  {
    display: unset;
  }
}

/* 
.take-actions .top-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-right .squares {
  display: flex;
  gap: 5rem;
}

.top-right .long .widget {
  width: 100%;
  justify-content: center;
  height: 100%;
}

.take-actions .flex-vert {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 40px;
}

.take-actions .bottom-left {
  display: flex;
  justify-content: space-between;
  height: 100%;
} */

/* .take-actions .action-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  width: 100%;
  padding: 30px;
}

.action-list .action {
  display: flex;
  gap: 20px;
  align-items: center;
}

.action-list .bullet-point {
  width: 10px;
  height: 10px;
  background: var(--baby-pink);
  border-radius: 10px;
}

/* div.product:active .reflection{
  animation: swipeProduct ease-in-out 0.3s forwards;
}

@keyframes swipeProduct {
  from {opacity: 1} to {opacity: 1; width: 100%}
} */


/* banner */

/* .dashboard-container {
  grid-template-rows: min-content 1fr;
}

.dashboard-sections .heading {
  display: none;
}

.dashboard-sections {
  transform: none !important;
  animation: none !important;
}

.dashboard-sections {
  background-color: transparent;
} */

/*  */