@media screen and (min-width: 600px) {

  .file-logs .row {
    grid-template-columns: 13rem repeat(6, 1fr);
  }

  .file-logs .row span:first-child{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .file-log.processed-true {
    color: var(--soft-grey) !important; 
    position: relative;
    cursor: pointer;
  }

  .file-log.processed-true::after {
    content: "this row has already been calculated";
    opacity: 0;
    transition: opacity 0.17s ease;
    position: absolute;
    background-color: var(--matte-black);
    color: var(--baby-pink);
    width: fit-content;
    text-wrap: nowrap;
    padding: 10px 15px;
    border-radius: 15px;
    height: min-content;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
  }

  .file-log.processed-true:hover::after {
    opacity: 1;
  }

  .file-viewer {
    height: 100%;
    display: grid;
    grid-template-rows: 90% 1fr;
  }

  .file-viewer .info {
    padding: 40px 20px 0px 80px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .file-viewer .content {
    overflow-y: scroll;
  }

  .file-viewer .back {
    margin-top: 1ch;
    margin-left: 60px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .file-viewer .bottom {
    background: var(--black);
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    position: sticky;
    bottom: 0;
    border-top: var(--table-border);
  }

  
}